.trainers-group {
  min-height: 100vh;
  background-image: url(../../../assets/Home/trainer-bg.jpg);
  background-size: cover;
  padding: 0rem;
  padding-bottom: 5rem;
  .trainers {
    display: flex;
    align-items: center;
    padding: 5rem;
    overflow-x: hidden;
  }
  & > h1 {
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    margin: 5rem auto;
    margin-bottom: 3rem;
    position: relative;
  }
}
// SWIPER STYLES
.swiper-button-prev,
.swiper-button-next {
  filter: grayscale(5);
  width: 10px;
  &:hover {
    color: #df2929;
    filter: none;
  }
}
.swiper-pagination-bullet-active {
  background-color: var(--primary);
}
.swiper-horizontal {
  padding: 3rem 0;
}
