.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: var(--white);
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  &-logo {
    width: 100px;
    height: 30px;
    margin-left: 10px;
  }
  &-link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--white);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "Raleway", sans-serif;
      position: relative;
      &:hover {
        color: var(--primary);
        transition: 400ms ease-out;
      }
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .progress-bar {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    transform-origin: 50%;
    background-color: var(--white);
  }
  .hamburger {
    display: none;
    &:hover {
      & ~ .bar {
        background-color: var(--primary);
      }
    }
    .bar {
      height: 3px;
      width: 35px;
      background-color: var(--white);
    }
  }
}

@media all and (max-width: 768px) {
  .nav {
    .nav-links {
      position: fixed;
      top: 5rem;
      text-align: center;
      left: -100%;
      opacity: 0;
      transition: 0.3s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      height: 100%;
      background-color: var(--black);
    }
    .nav--active {
      left: 0;
      opacity: 1;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      gap: 8px;
      cursor: pointer;
      margin-right: 1rem;
      .bar {
        transition: transform 0.3s ease-in-out;
      }
    }
    .hamburger--active {
      .bar:nth-child(2) {
        opacity: 0;
      }
      .bar:nth-child(1) {
        transform: translateY(11px) rotate(45deg);
      }
      .bar:nth-child(3) {
        transform: translateY(-11px) rotate(-45deg);
      }
    }
  }
}
