.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  color: var(--white);
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  &-logo {
    width: 100px;
    height: 30px;
    margin-left: 10px;
  }
  &-link {
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: var(--white);
      text-transform: uppercase;
      letter-spacing: 1px;
      font-family: "Raleway", sans-serif;
      position: relative;
      &:hover {
        color: var(--primary);
        transition: 400ms ease-out;
      }
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  .progress-bar {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    transform-origin: 50%;
    background-color: var(--white);
  }
}
