.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  height: 300px;
  background-color: #272729;
  .footer-container {
    width: 80%;
    min-height: 200px;
    padding: 2.5rem;
    border-bottom: 1px solid #d3d3d336;
    display: flex;
    gap: 8rem;
    justify-content: space-between;
  }
  .col-1 {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    .footer-logo-box {
      display: flex;
      align-items: center;
      gap: 1rem;
      & > h2 {
        font-weight: 400;
        letter-spacing: -1px;
      }
    }
    .footer-logo {
      height: 30px;
      width: 30px;
    }
  }
  .col-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 auto;
    & > h2 {
      font-weight: 400;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    & > span {
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.3;
      &:hover {
        color: var(--primary);
      }
    }
  }
  .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    & > h2 {
      font-weight: 300;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    & > span {
      font-weight: 300;
      letter-spacing: 1px;
      line-height: 1.5;
    }
    .footer-email {
      border: none;
      background-color: rgba(211, 211, 211, 0.158);
      padding: 0.5rem 0.75rem;
      font-family: "Raleway", sans-serif;
      width: 250px;
      outline: none;
      color: lightgray;
      &::placeholder {
        color: lightgrey;
        letter-spacing: 1px;
      }
    }
  }
}
